@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />
<div asp-action ="Details">

    <partial name="DepartmentPartialView/_DeleteDatialsPartialView"/>

    <div class="m-3">
        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>    
    </div>
</div>