@model CreateDepartmentDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>
<br />
<br />
<form asp-action="Edit">
    <partial name="DepartmentPartialView/_CreateEditPartialView"/>
    <div class="m-3">
        <button type="submit" class="btn btn-warning">Save</button>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>

