@model UserToReturnDto


<div class="m-3">
    <label asp-for="UserName" class="col-form-label"></label>
    <input type="text" asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>

<div class="m-3">
    <label asp-for="FristName" class="col-form-label"></label>
    <input type="text" asp-for="FristName" class="form-control" />
    <span asp-validation-for="FristName" class="text-danger"></span>
</div>

<div class="m-3">
    <label asp-for="LastName" class="col-form-label"></label>
    <input type="text" asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="m-3">
    <label asp-for="Email" class="col-form-label"></label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>




